.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.title {
    color: blue;
}

.page {
    color: brown;
}

.footer {
    color: blueviolet;
}

.image {
    width: 200px;
    height: auto;
}